<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="true" clientResourceRelativePath="" moduleJsonSerializerType="None">
  <assemblies>
    <add assembly="DxpContentTransfer" />
  </assemblies>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
  </clientModule>
</module>
